.changeloger-container .changelog-wrapper {
  padding: 20px;
  display: flex;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper {
  flex: 1;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item:last-child .content {
  margin-bottom: 0;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .date {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .version {
  flex-basis: 20%;
  text-align: center;
  position: relative;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .version .version-tag {
  background: #1d2746;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .version .line {
  height: 100%;
  width: 2px;
  background: #e2e5ee;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content {
  flex-basis: 60%;
  margin-bottom: 60px;
  word-break: break-word;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content p {
  display: flex;
  align-items: flex-start;
  margin: 0 0 15px 0;
  font-size: 16px;
  line-height: 1.7;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag {
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-right: 20px;
  min-width: 100px;
  text-align: center;
  background-color: black;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag.tweaked {
  background-color: blue;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag.fixed {
  background-color: #ea3940;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag.improvement {
  background-color: #4c4cf1;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag.new {
  background-color: #0ed193;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .tag.update {
  background-color: #ffa100;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper {
  border-top: 1px dotted rgba(51, 51, 51, 0.2);
  padding-top: 15px;
  opacity: 0.5;
  transition: 0.5s ease;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper:hover {
  opacity: 1;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper .changeloger-link-item {
  display: inline-block;
  margin-right: 10px;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper .changeloger-link-item:hover {
  color: #4c4cf1;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper .changeloger-link-item .changeloger-custom-link {
  text-decoration: none;
  color: currentColor;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper .changeloger-items .changelog-info-item .content .changeloger-link-wrapper .changeloger-link-item .changeloger-custom-link-icon {
  width: 16px;
  height: 16px;
  background: currentColor;
  mask-repeat: no-repeat;
  display: block;
  mask-size: contain;
  margin-right: 5px;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container {
  flex: 0.32;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container.changeloger-version-list-position-right {
  border-left: 1px solid #e6edf0;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container.changeloger-version-list-position-left {
  border-right: 1px solid #e6edf0;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container .version-title {
  font-size: 16px;
  font-weight: 600;
  color: #9daab6;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container ul {
  list-style-type: none !important;
  padding-left: 20px !important;
  margin-bottom: 0;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container ul li {
  position: relative;
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container ul li a {
  text-decoration: none;
  color: #677681;
  cursor: pointer;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  margin: 6px 0;
}
.changeloger-container .changeloger-pagination-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.changeloger-container .changeloger-pagination-wrapper .page-numbers {
  background: var(--changeloger-pagination-bg-color);
  color: var(--changeloger-pagination-text-color);
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}
.changeloger-container .changeloger-pagination-wrapper .page-numbers:hover {
  background: #333;
}
.changeloger-container .changeloger-pagination-wrapper .page-numbers.current {
  color: var(--changeloger-pagination-active-text-color);
  background: var(--changeloger-pagination-active-bg-color) !important;
}

.changeloger-version-list-container.changeloger-version-list-position-right .changeloger-version-list-wrapper > li .changeloger-active::before {
  left: -21px;
}
.changeloger-version-list-container.changeloger-version-list-position-left .changeloger-version-list-wrapper > li .changeloger-active::before {
  left: 100%;
}
.changeloger-version-list-container .changeloger-version-list-wrapper > li a {
  display: inline-block;
  width: 100%;
}
.changeloger-version-list-container .changeloger-version-list-wrapper > li .changeloger-active {
  position: relative;
  color: #4c4cf1 !important;
}
.changeloger-version-list-container .changeloger-version-list-wrapper > li .changeloger-active + ul li a.changeloger-active-nested-version {
  color: #4c4cf1 !important;
}
.changeloger-version-list-container .changeloger-version-list-wrapper > li .changeloger-active::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #4c4cf1;
  left: -41px;
}

/****Media Query Start  ******/
@media (max-width: 600px) {
  .changeloger-container .changelog-wrapper .changelog-info-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .changeloger-container .changelog-wrapper .changelog-info-item .date {
    margin-bottom: 20px;
  }
  .changeloger-container .changelog-wrapper .changelog-info-item .version {
    margin-bottom: 20px;
  }
  .changeloger-container .changelog-wrapper .changeloger-info-inner-wrapper {
    width: 100%;
  }
  .changeloger-container .changelog-wrapper .changeloger-version-list-container {
    display: none;
  }
}
.changeloger-container .changelog-wrapper .changeloger-version-list-container {
  position: sticky;
  top: 50px;
  height: 100%;
  margin-left: 30px;
}

/*# sourceMappingURL=style.css.map */
