.changeloger-container {
  & .changelog-wrapper {
    padding: 20px;
    display: flex;

    & .changeloger-info-inner-wrapper {
      flex: 1;

      .changeloger-items .changelog-info-item {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        &:last-child .content {
          margin-bottom: 0;
        }

        & .date {
          text-align: center;
          display: flex;
          flex-direction: column;
          flex-basis: 20%;
        }

        & .version {
          flex-basis: 20%;
          text-align: center;
          position: relative;

          & .version-tag {
            background: #1d2746;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 5px;
            position: relative;
            z-index: 1;
          }

          & .line {
            height: 100%;
            width: 2px;
            background: #e2e5ee;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
          }
        }

        & .content {
          flex-basis: 60%;
          margin-bottom: 60px;
          word-break: break-word;

          & p {
            display: flex;
            align-items: flex-start;
            margin: 0 0 15px 0;
            font-size: 16px;
            line-height: 1.6;
          }

          & .tag {
            color: #fff;
            padding: 5px;
            font-size: 12px;
            text-transform: uppercase;
            border-radius: 5px;
            letter-spacing: 1px;
            margin-right: 20px;
            min-width: 100px;
            text-align: center;
            background-color: black;

            &.tweaked {
              background-color: blue;
            }

            &.fixed {
              background-color: #ea3940;
            }

            &.improvement {
              background-color: #4c4cf1;
            }

            &.new {
              background-color: #0ed193;
            }

            &.update {
              background-color: #ffa100;
            }
          }

          & .changeloger-link-wrapper {
            border-top: 1px dotted rgba(51, 51, 51, 0.2);
            padding-top: 15px;
            opacity: .5;
            transition: .5s ease;

            &:hover {
              opacity: 1;
            }

            & .changeloger-link-item {
              display: inline-block;
              margin-right: 10px;


              &:hover {
                color: #4c4cf1;
              }

              & .changeloger-custom-link {
                text-decoration: none;
                color: currentColor;
                font-size: 14px;
                display: flex;
                align-items: center;
              }

              & .changeloger-custom-link-icon {
                width: 16px;
                height: 16px;
                background: currentColor;
                mask-repeat: no-repeat;
                display: block;
                mask-size: contain;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    & .changeloger-version-list-container {
      flex: 0.32;

      &.changeloger-version-list-position-right {
        border-left: 1px solid #e6edf0;
      }

      &.changeloger-version-list-position-left {
        border-right: 1px solid #e6edf0;
      }

      & .version-title {
        font-size: 16px;
        font-weight: 600;
        color: #9daab6;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      & ul {
        list-style-type: none !important;
        padding-left: 20px !important;
        margin-bottom: 0 !important;
        margin-left: 0;
        gap: 5px;

        & li {
          position: relative;
          margin-bottom: 4px;

          & a {
            text-decoration: none;
            color: #677681;
            cursor: pointer;
            line-height: 22px;
            font-size: 16px;
            font-weight: 400;
            margin: 6px 0;
          }

          li {
            a {
              &.changeloger-active {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  & .changeloger-pagination-wrapper {
    margin-top: 30px;
    text-align: center
  ;

    .changeloger-pagination-inner-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
    }

    & .page-numbers, & .page-navigator {
      background: var(--changeloger-pagination-bg-color);
      color: var(--changeloger-pagination-text-color);
      padding: 8px 15px;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--changeloger-pagination-hover-text-color);
        background: var(--changeloger-pagination-hover-bg-color);
      }
    }

    & .page-numbers.current {
      color: var(--changeloger-pagination-active-text-color);
      background: var(--changeloger-pagination-active-bg-color) !important;
    }
  }
}

.changeloger-version-list-container {
  &.changeloger-version-list-position-right {
    .changeloger-version-list-wrapper {
      & > li {
        & .changeloger-active {
          &::before {
            left: -21px;
          }
        }
      }
    }
  }

  &.changeloger-version-list-position-left {
    .changeloger-version-list-wrapper {
      & > li {
        & .changeloger-active {
          &::before {
            left: 100%;
          }
        }
      }
    }
  }

  .changeloger-version-list-wrapper {
    & > li {
      a {
        display: inline-block;
        width: 100%;
      }

      & .changeloger-active {
        position: relative;
        color: #4c4cf1 !important;

        + ul {
          li {
            a.changeloger-active-nested-version {
              color: #4c4cf1 !important;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          background: #4c4cf1;
          left: -41px;
        }
      }
    }
  }
}

/****Media Query Start  ******/

@media (max-width: 600px) {
  .changeloger-container {
    & .changelog-wrapper {
      & .changelog-info-item {
        flex-direction: column;
        align-items: flex-start;

        & .date {
          margin-bottom: 20px;
        }

        & .version {
          margin-bottom: 20px;
        }
      }

      & .changeloger-info-inner-wrapper {
        width: 100%;
      }

      & .changeloger-version-list-container {
        display: none;
      }
    }
  }
}

.doc_rightsidebar .pageSideSection.hasVersionTree {
  .changeloger-version-list-container {
    flex: 0.32;

    & .version-title {
      font-size: 16px;
      font-weight: 600;
      color: #9daab6;
      margin-top: 0;
      margin-bottom: 10px;
    }

    & ul {
      list-style-type: none !important;
      margin-bottom: 0 !important;
      gap: 5px;
      padding-left: 0;

      & li {
        position: relative;

        & a {
          text-decoration: none;
          color: #677681;
          cursor: pointer;
          line-height: 22px;
          font-size: 16px;
          font-weight: 400;
          margin: 6px 0;
        }

        & .changeloger-active {
          &::before {
            left: -25px;
          }
        }
      }
    }
  }
}

.ezd-container {
  .doc_rightsidebar .pageSideSection.hasVersionTree {
    .changeloger-version-list-container {
      & ul {
        & li {
          & .changeloger-active {
            &::before {
              left: -20px;
            }
          }
        }
      }
    }
  }
}

.changeloger-filter-popover-button {
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 12px;
  background: #fff;
  border: 1px solid #d9d9d9;
  color: #202020;
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  z-index: 3;

  &.active {
    background: rgba(#525df9, 0.15);
    border-color: rgba(#525df9, 0.15);
    color: #525df9;

    .arrow-icon {
      display: none !important;
      visibility: hidden !important;
    }

    .cross-icon {
      display: inline-block;
      visibility: visible;
    }
  }

  &.show {
    .arrow-icon {
      transform: rotate(180deg);
      display: inline-block;
      visibility: visible;
    }
  }

  .arrow-icon {
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
  }

  .cross-icon {
    display: none;
    visibility: hidden;
  }

  &:focus {
    box-shadow: none;
  }

  svg {
    fill: transparent;
  }
}

.changeloger-filter-wrapper {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.changeloger-filter-alignment {
  z-index: 99;
  display: flex;
  position: relative;
  padding: 0 20px;

  &.align-center {
    justify-content: center;

    .changeloger-filter-popover {
      transform-origin: center;
      left: 50%;
      transform: translateX(-50%) translateY(0) ;
    }
  }

  &.align-left {
    justify-content: left;

  }

  &.align-right {
    justify-content: right;

    .changeloger-filter-popover {
      left: inherit;
      right: 0;
      transform-origin: right;
    }
  }

  .components-button {
    box-shadow: none !important;
  }
}

.changeloger-filter-popover {
  will-change: inherit;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  width: 300px;
  background: #fff;
  box-shadow: 0 0 0 1px #ccc, 0 2px 3px rgba(0, 0, 0, 0.05), 0 4px 5px rgba(0, 0, 0, 0.04), 0 12px 12px rgba(0, 0, 0, 0.03), 0 16px 16px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px) scale(0.5);
  transform-origin: left;
  transition: all 0.2s ease-in-out;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(4px) scale(1);
  }

  .components-button {
    box-shadow: none !important;
  }

  .components-popover__content {
    width: 300px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding-top: 8px;
    box-shadow: 0 4px 12px #0000001a;
  }

  .drop-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    flex-direction: row;
    padding: 8px 16px;
    position: sticky;

    .title {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  .drop-body {
    padding: 16px;

    .title {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
  }

  .filter-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

    button {
      border-radius: 6px;
      font-size: 14px;
      line-height: 20px;
      padding: 3px 8px;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      color: #202020;
      cursor: pointer;
      text-transform: capitalize;

      &.active {
        background-color: #fafbff;
        border-color: #525df9;
        color: #525df9;

      }
    }
  }

}