@import "./common.scss";

.changeloger-container {
	& .changelog-wrapper {
		& .changeloger-version-list-container {
			position: sticky;
			top: 50px;
			height: 100%;
			margin-left: 20px;
		}
	}
}
